@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Space+Grotesk:wght@300..700&display=swap');

html {
    height: 100%;
}

body {
    background-color: rgb(20, 7, 25);
    background-image: url(/img/burger1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.foot {
    background-color: rgb(20, 7, 25);
    color: azure;
}

main {
    height: 580px;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 80px;
}

.backbox {
    background-color: rgba(0, 0, 0, 0.363);
}

:hover.reserve {
    opacity: 0.5;

}

.peragraph {
    size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 20px;
}

.h1 {
    font-size: 50px;

    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
}

.footer-site-name {
    background: linear-gradient(45deg, #0ab1a6, #343a40);
    color: white;
    text-align: center;
    padding: 40px 20px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.footer-site-name h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Matemasie", sans-serif;
}
