html,
body {
    height: 100%;
}

.column1 {
    background-color: rgb(20, 7, 25);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    padding: 20px;
}

.col-9 {
    margin-left: 25%;
    padding: 20px;
}

.full-height-row {
    height: 100vh;
}

.nav-pills .nav-link {
    border-radius: 4;
    padding: 10px 20px;
    font-size: 16px;
    border-left: 3px solid transparent;
    color: #f9fafb;
    margin-top: 40px;

}

.nav-pills .nav-link.active {
    background-color: #007bff;
    color: white;
    border-left: 3px solid #007bff;
}


.nav-pills .nav-link:hover {
    background-color: #f8f9fa;
    border-left: 3px solid #007bff;
}


.tab-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 200px;
}


.d-flex {
    gap: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}


.header-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
    animation: bounce 1s ease-in-out infinite;
}


.header-text h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
}

.header-text p {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.highlighted-title {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
/* Custom card styles */
.card {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin: 20px 0; */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    object-fit: cover;
    height: 175; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .btn {
    margin-right: 5px;
}


